/* 设置标题格式 */
.title-div {
  padding: 0.5em;
  text-indent: 5em;
  color: #A0A0A0;
  display: flex;
  justify-content: center;
}

.title-h1 img {
  margin-bottom: -0.5em;
  height: 2em;
  width: 2em;
}

/* 创建标题按钮 */
.menu {
  background-color: #62b7fd;
  margin: 0.5em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu img {
  height: 1.5em;
  width: 1.5em; 
}

.hello {
  padding: 10em;
  text-align: center;
  font: 20;
}

.source {
  background-color: #A0A0A0;
}
/* 设置底部背景颜色、居中及内边距 */
.footer-div {
  background-color: #303030;
  text-align: center;
  padding: 1em;
  color: white;
}

/* 其他可能需要的样式，例如高度 */
.remain {
  height: 200px;
}


