/* 设置标题背景颜色以及内边距 */
.title-div {
  background-color: #3366FF;
  padding: 20px;
}

/* 设置标题字体颜色 */
.title-h {
  color: white;
  text-indent: 2em;
}

/* 创建首页按钮 */
.home-button {
  background-color: #3333FF;
  margin: 0;
  padding: 20px;
  text-indent: 2em;
}

.home-button a {
  color: white;
  text-decoration: none;
}

/* 设置正文内边距和缩进 */
.content-div {
  background-color: #00CCFF;
  margin: 20px;
  width: 350px;
}

.content-h2 {
  color: white;
  padding: 15px;
  margin: 0px;
  text-indent: 0.5em;
}

.content-p {
  margin: 0;
  padding: 10px;
  text-indent: 1em;
  background-color: #D0D0D0;
}

/* 设置底部背景颜色、居中及内边距 */
.footer-div {
  background-color: #303030;
  text-align: center;
  padding: 40px;
}

.footer-p, .footer-a {
  color: white;
}

/* 其他可能需要的样式，例如高度 */
.construction-div {
  height: 500px;
}


